html, body {
  height: 100%; }

#controller {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.control-menu {
  float: right; }

#date-picker {
  width: 800px !important; }
  #date-picker .calDay {
    display: none; }
  #date-picker .calMonth .calElement {
    font-size: 24px;
    height: 60px; }

#content {
  font-size: 12px;
  height: 100%; }

#input, #output {
  height: 100%;
  overflow: scroll; }

#input {
  width: 60%;
  float: left;
  margin: 0 1% 0 0;
  border-right: 1px dotted; }
  #input .sites {
    border-top: 1px dotted #0b559b;
    border-bottom: 1px dotted #0b559b; }
  #input .read-site {
    background-color: #faf3cc; }

#output {
  right: 10px;
  top: 0; }

.jser-output {
  position: relative !important;
  margin: 5px; }

#output > .sites {
  margin-left: 1em; }
  #output > .sites p, #output > .sites blockquote {
    margin: 1px auto; }

#output, .jser-output {
  float: left;
  width: 38%; }
  #output .site-genre, .jser-output .site-genre {
    margin: 10px 0;
    background-color: #ddd; }
  #output .sites > p, .jser-output .sites > p {
    display: none; }
  #output .sites p > a, .jser-output .sites p > a {
    display: none; }
  #output .sites .jser-related-links, .jser-output .sites .jser-related-links {
    display: none; }

#disable-sortable {
  position: fixed;
  top: 0;
  right: 0; }

.jser-tag-icon {
  padding-left: 16px;
  background-position: left center;
  background-image: url("http://static.tumblr.com/yv3nh5u/2tQmk5mzu/icon-tags.png");
  background-repeat: no-repeat; }

.jser-tag {
  color: #aaaaaa; }

.jser-tag:after {
  content: ","; }

.jser-tag:last-child:after {
  content: ""; }

.output-seat {
  min-height: 100px;
  margin: 5px;
  padding: 2px;
  border: solid #dddddd 5px;
  border-radius: 5px; }
