html, body {
  height: 100%; }

#controller {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

#date-picker {
  width: 800px !important; }
  #date-picker .calDay {
    display: none; }
  #date-picker .calMonth .calElement {
    font-size: 24px;
    height: 60px; }

#content {
  font-size: 12px;
  height: 100%; }

#input {
  width: 60%;
  min-height: 100%;
  float: left;
  margin: 0 1% 0 0;
  border-right: 1px dotted; }
  #input .sites {
    border-top: 1px dotted #0b559b;
    border-bottom: 1px dotted #0b559b; }
  #input .read-site {
    background-color: #faf3cc; }

#output {
  position: sticky;
  right: 10px;
  top: 1.5rem; }

.jser-output {
  position: relative !important;
  margin: 5px; }

#output, .jser-output {
  float: left;
  width: 38%; }
  #output .site-genre, .jser-output .site-genre {
    margin: 10px 0;
    background-color: #ddd; }
  #output .sites > p, .jser-output .sites > p {
    display: none; }
  #output .sites p > a, .jser-output .sites p > a {
    display: none; }

#disable-sortable {
  position: fixed;
  top: 0;
  right: 0; }

.jser-tag-icon {
  padding-left: 16px;
  background-position: left center;
  background-image: url("http://static.tumblr.com/yv3nh5u/2tQmk5mzu/icon-tags.png");
  background-repeat: no-repeat; }

.jser-tag {
  color: #aaaaaa; }

.jser-tag:after {
  content: ","; }

.jser-tag:last-child:after {
  content: ""; }
