@charset "utf-8";
html, body {
  height: 100%;
}

#controller {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#date-picker {
  // なぜかそのままだと崩れる
  width: 800px !important;
  .calDay {
    display: none;
  }
  .calMonth .calElement {
    font-size: 24px;
    height: 60px;
  }
}

#content {
  font-size: 12px;
  height: 100%;
}

#input, #output {
  padding-bottom: 32768px;
  margin-bottom: -32768px;
}

#input {
  width: 60%;
  min-height: 100%;
  float: left;
  margin: 0 1% 0 0;
  border-right: 1px dotted;
  .sites {
    border-top: 1px dotted #0b559b;
    border-bottom: 1px dotted #0b559b;
  }
  .read-site {
    background-color: rgb(250, 243, 204);
  }
}

#output {
  float: left;
  width: 38%;
  height: 100%;
  .site-genre {
    margin: 10px 0;
    background-color: #ddd;
  }
  .sites {
    & > p {
      display: none;
    }
    p > a {
      display: none;
    }
  }
}

#disable-sortable {
  position: fixed;
  top: 0;
  right: 0;
}

.jser-tag {
  color: #aaaaaa;
}

.jser-tag:after {
  content: ",";
}

.jser-tag:last-child:after {
  content: "";
}