@charset "utf-8";
html, body {
  height: 100%;
}

#controller {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.control-menu {
  float: right;
}

#date-picker {
  // なぜかそのままだと崩れる
  width: 800px !important;
  .calDay {
    display: none;
  }
  .calMonth .calElement {
    font-size: 24px;
    height: 60px;
  }
}

#content {
  background: #fff;
  font-size: 12px;
  height: 100%;
}

#input, #output {
  height: 100%;
  overflow-y: scroll;
}

#input {
  width: 60%;
  float: left;
  margin: 0 1% 0 0;
  border-right: 1px dotted;
  .sites {
    border-top: 1px dotted #0b559b;
    border-bottom: 1px dotted #0b559b;
  }
  .read-site {
    background-color: rgb(250, 243, 204);
  }
}

#output {
  right: 10px;
  top: 0;
}

.jser-output {
  position: relative !important;
  margin: 5px;
}

#output > .sites {
  margin-left: 1em;
  p, blockquote {
    margin: 1px auto;
  }
}

#output, .jser-output {
  float: left;
  width: 38%;
  .site-genre {
    margin: 10px 0;
    background-color: #ddd;
  }
  .sites {
    & > p {
      display: none;
    }
    p > a {
      display: none;
    }
    .jser-related-links {
      display: none;
    }
  }
}

#disable-sortable {
  position: fixed;
  top: 0;
  right: 0;
}

.jser-tag-icon {
  padding-left: 16px;
  background: url("http://static.tumblr.com/yv3nh5u/2tQmk5mzu/icon-tags.png") no-repeat left center;
}

.jser-tag {
  color: #aaaaaa;
}

.jser-tag:after {
  content: ",";
}

.jser-tag:last-child:after {
  content: "";
}

.output-seat {
  min-height: 100px;
  margin: 5px;
  padding: 2px;
  border: solid #dddddd 5px;
  border-radius: 5px;
}

.dialog-textarea {
  width: 100%;
  height: 100%;
}